.cardContainer {
    width: 100%;
    font-style: bold;
    font-size: 0.6rem;
    padding: 2%;
    box-shadow: #f4f5f8;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    box-shadow: 0 0 0.5rem #12121221;
    background-color: #fff; 
    
}

.cardContainer>* {
    font-size: 12px;
    width: 100%;
}

.showStatus {
    position: absolute;
    right: 0;
    background: rgb(34, 255, 1);
    border-radius: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
}

.tags {
    width: max-content;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #f4f5f8;
    color: #7d7d7d;
    padding: 2px 2px;
}

.cardTags {
    align-items: center;
    font-size: smaller;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    /* Allow tags to wrap to the next line on smaller screens */
}

@media only screen and (max-width: 600px) {
    .cardContainer {
        padding: 5%;
        /* Adjusted padding for larger screens */
    }
}